<!-- <nz-layout>
	<app-top-nav></app-top-nav>
	<nz-content class="d-flex justify-content-center">
		<router-outlet></router-outlet>
	</nz-content>
	<nz-footer>
		<app-footer></app-footer>
	</nz-footer>
</nz-layout> -->
<!-- <nz-layout> -->
<!-- <app-top-nav></app-top-nav> -->

<ng-template [ngIf]="auth.isLoggindIn.value" [ngIfElse]="Routage">
	<nz-layout>
		<app-top-nav></app-top-nav>
		<nz-content style="margin-top: 50px;">
			<router-outlet></router-outlet>
		</nz-content>
		<nz-footer>
			<app-footer></app-footer>
		</nz-footer>
	</nz-layout>
</ng-template>


<!-- </nz-layout> -->
<ng-template #Routage>
	<router-outlet></router-outlet>
</ng-template>