:host {
  /* text-align: center; */
}

nz-footer {
  background: #7dbcea;
  color: #fff;
}

nz-header {
  height: 100%;
  width: 100%;
}

nz-content {
  min-height: 900px;
  background: rgb(250, 252, 253);
  color: rgb(133, 22, 22);
  /* width: auto; */
  display: inline;
  justify-items: center;
  justify-content: center;
}

nz-layout {
  margin-bottom: 48px;
}

nz-layout:last-child {
  margin: 0;
}
