.forget-password {
	display: inline;
	padding: 10%;
	margin: 10%;
	align-items: center;
}

input {
	width: 300px;
	@media only screen and (min-width: 600px) {
		width: 100px;
	}
}

.container1 {
	border: 1px gray;
}

.container2 {
	border: 1px gray;
	display: flex;
	justify-items: end;
	align-content: center;
}