<nz-steps nzCurrent="{{current}}" [nzProgressDot]="true" [nzSize]="'small'">
	<nz-step *ngFor="let step of current_steps.steps" nzTitle="{{step.title}}" nzDescription="{{step.description}}">
	</nz-step>
</nz-steps>

<div class="steps-content" *ngIf="current_steps.steps.length > 0">
	<form [formGroup]="validateForm[current -1]" (ngSubmit)="submitForm()" >
		<nz-form-item *ngFor="let item of current_form">
			<!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="{{item.id}}">{{item.title}}</nz-form-label> -->

			<nz-form-control [nzSm]="14" [nzXs]="24" *ngIf="item.type === 'text'" [nzErrorTip]="passwordErrorTpl">
				<input nz-input [formControlName]="item.name" nzHasFeedback placeholder="{{item.placeholder}}"
					attr.id="{{item.id}}" />
				


			</nz-form-control>

			<nz-form-control [nzSm]="14" [nzXs]="24" *ngIf="item.type === 'password'">
				<input nz-input type="password" [formControlName]="item.name" placeholder="{{item.placeholder}}"
					attr.id="{{item.id}}" />
			</nz-form-control>

			<nz-form-control [nzSm]="14" [nzXs]="24" *ngIf="item.type === 'file'">
				<input nz-input type="file" [formControlName]="item.name" placeholder="{{item.placeholder}}"
					attr.id="{{item.id}}" (change)="upload($event)" />
			</nz-form-control>

			<nz-form-control [nzSm]="14" [nzXs]="24" *ngIf="item.type === 'checkbox'">
				<input nz-input type="checkbox" [formControlName]="item.name" placeholder="{{item.placeholder}}"
					attr.id="{{item.id}}" />
			</nz-form-control>

			<nz-form-control [nzSm]="14" [nzXs]="24" *ngIf="item.type === 'select'">
				<nz-select [formControlName]="item.name" nzPlaceHolder="{{item.placeholder}}" attr.id="{{item.id}}">
					<nz-option *ngFor="let selectItem of item.value" nzValue="{{selectItem.value}}"
						nzLabel="{{selectItem.value}}"></nz-option>
				</nz-select>
				
			</nz-form-control>

			<nz-form-control [nzSm]="14" [nzXs]="24" *ngIf="item.type === 'date'">
				<!-- <input nz-input [formControlName]="item.name" placeholder="{{item.placeholder}}"
					attr.id="{{item.id}}" /> -->

				<nz-date-picker [formControlName]="item.name" nzPlaceHolder="{{item.placeholder}}"
					attr.id="{{item.id}}"></nz-date-picker>
			</nz-form-control>

		</nz-form-item>
	</form>
	<div style="left: 100px;">
		<button nz-button nzType="danger" (click)="pre()" *ngIf="current > 1">
			<span>{{previous_button}}</span>
		</button>
		<button nz-button nzType="primary" (click)="next()" *ngIf="current < count">
			<span>{{next_button}}</span>
		</button>
		<button nz-button nzType="info" (click)="done()" *ngIf="current === count">
			<span>{{done_button}}</span>
		</button>
	</div>
</div>
<!-- <div class="steps-action ">
	<button nz-button nzType="danger" (click)="pre()" *ngIf="current > 1">
		<span>{{previous_button}}</span>
	</button>
	<button nz-button nzType="primary" (click)="next()" *ngIf="current < count">
		<span>{{next_button}}</span>
	</button>
	<button nz-button nzType="info" (click)="done()" *ngIf="current === count">
		<span>{{done_button}}</span>
	</button>
</div> -->