<div class="d-flex justify-content-center">
	<div style="display: flexbox; justify-items: center; align-items: center; border: 1px solid; margin: 80px;">
		<h4 style="text-align: center;">Login</h4>
		<div class="form">
			<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
				<nz-form-item>
					<nz-form-control nzErrorTip="Please insert your username!">
						<nz-input-group nzPrefixIcon="user">
							<input type="text" nz-input formControlName="login" placeholder="Username" />
						</nz-input-group>
					</nz-form-control>
				</nz-form-item>
				<nz-form-item>
					<nz-form-control nzErrorTip="Please insert your Password!">
						<nz-input-group nzPrefixIcon="lock">
							<input type="password" nz-input formControlName="password" placeholder="Password" />
						</nz-input-group>
					</nz-form-control>
				</nz-form-item>
				<div nz-row class="login-form-margin">
					<div>
						<a class="login-form-forgot" [routerLink]="['/forget-password']">Forgot password</a>
					</div>
				</div>
				<button nz-button class="login-form-button login-form-margin" [nzType]="'primary'"
					(click)="submitForm()" [disabled]="false">Log in</button>
				Or 
				<button
      nz-button
      nzType="primary"
      nz-popover
      nzPopoverTitle="Title"
      [(nzPopoverVisible)]="visible"
      (nzPopoverVisibleChange)="change($event)"
      nzPopoverTrigger="click"
      [nzPopoverContent]="contentTemplate"
    >
	Register now!
    </button>
    <ng-template #contentTemplate>
	  <a (click)="goTo('SP')">Register SP</a>
	  <br>	
      <a (click)="goTo('PP')">Register PP</a>
    </ng-template>
			</form>
		</div>
	</div>

</div>